[submodule "homework/submissions/09_final_submisssions/chris_frank_jennifer_sihan"]
	path = homework/submissions/09_final_submisssions/chris_frank_jennifer_sihan
	url = https://github.com/christandoi/ast596fds-final
[submodule "homework/submissions/09_final_submisssions/bree_colin_sree"]
	path = homework/submissions/09_final_submisssions/bree_colin_sree
	url = https://github.com/burke86/ast596_final.git
[submodule "homework/submissions/09_final_submisssions/andrew_lina_patrick_tsunghan"]
	path = homework/submissions/09_final_submisssions/andrew_lina_patrick_tsunghan
	url = https://github.com/awe2/Astro596_Final.git
[submodule "homework/submissions/09_final_submisssions/alex_charmi_cyrus_mel"]
	path = homework/submissions/09_final_submisssions/alex_charmi_cyrus_mel
	url = https://github.com/archipleym/melalexcharmicyrus_final
